@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Inter', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* Header */
.header {
    background-color: #021526;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

/* Burger Button */
.burger {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger.active {
    transform: rotate(90deg);
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    background-color: #021526;
    position: absolute;
    top: 65px;
    right: 0;
    width: 180px;
    border-radius: 0 0 0 12px;
    z-index: 999;
}

.burger-menu.open {
    display: flex;
}

.burger-menu button {
    background: none;
    border: none;
    color: white;
    padding: 14px 20px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.burger-menu button:hover {
    background-color: #03346E;
}

/* Counter Card */
.counter-card {
    background-color: #EDE9E6;
    margin: 20px;
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #021526;
    box-shadow: 10px 10px 5px #888888;
}

.table-container {
    margin: 0 20px 20px;
    border-radius: 12px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 550px;
}

thead tr {
    background-color: #03346E;
    color: white;
}

thead th {
    padding: 14px 10px;
    font-size: 14px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #EDE9E6;
}

tbody tr:nth-child(even) {
    background-color: #6EACDA;
}

tbody td {
    padding: 12px 10px;
    font-size: 13px;
    color: #021526;
}

/* Footer */
.footer {
    background-color: #021526;
    padding: 16px;
    text-align: center;
    border-radius: 16px;
    width: 326px;
    height: 51px;
    margin: 10px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.footer p {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .header h1 {
        font-size: 18px;
    }

    thead th {
        font-size: 12px;
        padding: 10px 6px;
    }

    tbody td {
        font-size: 11px;
        padding: 10px 6px;
    }

    thead th:nth-child(1) { width: 120px; }
    thead th:nth-child(2) { width: 110px; }
    thead th:nth-child(3) { width: 80px; }
    thead th:nth-child(4) { width: 90px; }
    thead th:nth-child(5) { width: 160px; }
}
